@charset "UTF-8";
/* line 8, ../sass/foundation/_cssreset.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

/* line 18, ../sass/foundation/_cssreset.scss */
h1, h2, h3, h4, h5, h6, table, td, th {
  font-size: 14px;
}

/* line 21, ../sass/foundation/_cssreset.scss */
body, input, select {
  line-height: 1;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Arial, Helvetica,sans-serif;
  font-size: 14px;
  color: #555;
}

/* line 27, ../sass/foundation/_cssreset.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/foundation/_cssreset.scss */
img {
  vertical-align: bottom;
}

/* line 33, ../sass/foundation/_cssreset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, ../sass/foundation/_cssreset.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 42, ../sass/foundation/_cssreset.scss */
.clearfix:after {
  clear: both;
}

/* line 45, ../sass/foundation/_cssreset.scss */
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'icon';
  src: url("../font/fontawesome-webfont.eot");
  src: url("../font/fontawesome-webfont.eot") format("embedded-opentype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../sass/foundation/_base.scss */
body {
  background: #f2f2f2;
}

/* No files to import found in object/component/*.scss */
/* line 1, ../sass/object/project/_contents.scss */
.contents {
  background: #fff;
  width: 320px;
  box-shadow: 0 1px 3px #ccc;
  margin: 96px auto;
}

/* line 1, ../sass/object/project/_fleet.scss */
.fleet, .fleet-count, .fleet-clear {
  border-left: 2px solid transparent;
  padding: 16px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: border-color linear 0.1s;
  -moz-transition: border-color linear 0.1s;
  -o-transition: border-color linear 0.1s;
  transition: border-color linear 0.1s;
}
/* line 7, ../sass/object/project/_fleet.scss */
.fleet:last-child, .fleet-count:last-child, .fleet-clear:last-child {
  border-bottom: 0;
}

/* line 11, ../sass/object/project/_fleet.scss */
.fleet_number {
  float: left;
  color: #e5e5e5;
  font-size: 36px;
  max-width: 180px;
}

/* line 17, ../sass/object/project/_fleet.scss */
.fleet_input {
  float: left;
  margin-left: 16px;
}

/* line 21, ../sass/object/project/_fleet.scss */
.fleet_inputNo, .fleet_inputHours, .fleet_inputMinutes {
  text-align: center;
  padding: 4px;
  height: 36px;
  box-sizing: border-box;
  width: 64px;
  border: 0;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  color: inherit;
  -webkit-transition: border-color linear 0.1s;
  -moz-transition: border-color linear 0.1s;
  -o-transition: border-color linear 0.1s;
  transition: border-color linear 0.1s;
}
/* line 32, ../sass/object/project/_fleet.scss */
.fleet_inputNo:focus, .fleet_inputHours:focus, .fleet_inputMinutes:focus {
  border-bottom-color: #FF3D00;
}

/* line 36, ../sass/object/project/_fleet.scss */
.fleet_inputHours {
  width: 32px;
  margin-left: 8px;
}

/* line 41, ../sass/object/project/_fleet.scss */
.fleet_inputMinutes {
  width: 32px;
}

/* line 45, ../sass/object/project/_fleet.scss */
.fleet_submit {
  float: right;
  margin-left: 8px;
  cursor: pointer;
  text-align: center;
  width: 32px;
  line-height: 32px;
  height: 32px;
  border-radius: 50%;
  color: #ccc;
}
/* line 54, ../sass/object/project/_fleet.scss */
.fleet_submit:before {
  content: '\f0f3';
  font-family: icon;
  font-size: 18px;
}
/* line 59, ../sass/object/project/_fleet.scss */
.fleet_submit:hover {
  color: #FF3D00;
}
/* line 62, ../sass/object/project/_fleet.scss */
.fleet_submit:active {
  background: #eee;
  color: #FF3D00;
}

/* line 68, ../sass/object/project/_fleet.scss */
.fleet_output {
  display: none;
}

/* line 72, ../sass/object/project/_fleet.scss */
.fleet_outputHours {
  display: inline-block;
  width: 48px;
  text-align: right;
}

/* line 80, ../sass/object/project/_fleet.scss */
.fleet_complet {
  display: none;
}

/* line 86, ../sass/object/project/_fleet.scss */
.fleet-count .fleet_input {
  display: none;
}
/* line 89, ../sass/object/project/_fleet.scss */
.fleet-count .fleet_submit {
  color: #FF3D00;
}
/* line 91, ../sass/object/project/_fleet.scss */
.fleet-count .fleet_submit:hover, .fleet-count .fleet_submit:active {
  color: #ccc;
}
/* line 93, ../sass/object/project/_fleet.scss */
.fleet-count .fleet_submit:hover:before, .fleet-count .fleet_submit:active:before {
  content: '\f1f6';
}
/* line 98, ../sass/object/project/_fleet.scss */
.fleet-count .fleet_output {
  display: block;
  float: left;
  margin-left: 16px;
  max-width: 180px;
  font-size: 32px;
  color: #aaa;
  line-height: 36px;
  height: 36px;
  letter-spacing: 2px;
}

/* line 110, ../sass/object/project/_fleet.scss */
.fleet-clear {
  padding-left: 14px;
  border-left: 2px solid #FF3D00;
}
/* line 114, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_input {
  display: none;
}
/* line 117, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_number {
  color: #FF3D00;
}
/* line 120, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_complet {
  display: block;
  float: left;
  margin-left: 16px;
  max-width: 180px;
  font-size: 32px;
  color: #aaa;
}
/* line 128, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_submit {
  color: #FF3D00;
}
/* line 130, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_submit:hover, .fleet-clear .fleet_submit:active {
  color: #ccc;
}
/* line 133, ../sass/object/project/_fleet.scss */
.fleet-clear .fleet_submit:before {
  content: '\f00c';
}

/* line 1, ../sass/object/project/_header.scss */
.header {
  background: #26a69a;
  color: #fff;
  box-shadow: 0 2px 5px #aaa;
  position: relative;
}

/* line 7, ../sass/object/project/_header.scss */
.header_title {
  text-align: center;
  font-weight: normal;
  line-height: 44px;
  height: 44px;
  font-size: 24px;
}

/* line 13, ../sass/object/project/_header.scss */
.header_nav {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 1, ../sass/object/project/_messageBox.scss */
.messageBox, .messageBox-off, .messageBox-on {
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  position: fixed;
  left: 16px;
  bottom: 16px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

/* line 13, ../sass/object/project/_messageBox.scss */
.messageBox-off {
  bottom: -50px;
}

/* line 20, ../sass/object/project/_messageBox.scss */
.messageBox_text {
  float: left;
}

/* line 23, ../sass/object/project/_messageBox.scss */
.messageBox_btn {
  margin-left: 16px;
  float: left;
  cursor: pointer;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 28, ../sass/object/project/_messageBox.scss */
.messageBox_btn:hover {
  color: #FF3D00;
}
/* line 31, ../sass/object/project/_messageBox.scss */
.messageBox_btn:active {
  top: 1px;
  position: relative;
}

/* line 1, ../sass/object/project/_overlay.scss */
.overlay, .overlay-off {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

/* line 10, ../sass/object/project/_overlay.scss */
.overlay-off {
  display: none;
}

/* line 14, ../sass/object/project/_overlay.scss */
.overlay_window {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 400px;
  height: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 32px;
}

/* line 27, ../sass/object/project/_overlay.scss */
.overlay_title {
  line-height: 44px;
  height: 44px;
  margin-bottom: 12px;
  font-size: 18px;
}

/* line 33, ../sass/object/project/_overlay.scss */
.overlay_text {
  line-height: 1.8;
}

/* line 36, ../sass/object/project/_overlay.scss */
.overlay_btnWrap {
  text-align: right;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

/* line 42, ../sass/object/project/_overlay.scss */
.overlay_btn-off, .overlay_btn-on {
  margin-left: 16px;
  display: inline-block;
  line-height: 44px;
  height: 44px;
  cursor: pointer;
  padding: 0 16px;
  text-shadow: 0 0 3px rgba(255, 61, 0, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 50, ../sass/object/project/_overlay.scss */
.overlay_btn-off:active, .overlay_btn-on:active {
  position: relative;
  top: 1px;
}

/* line 55, ../sass/object/project/_overlay.scss */
.overlay_btn-on {
  color: #FF3D00;
}

/* No files to import found in object/utility/*.scss */
